@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro:wght@600&display=swap');

*{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right,#e7e7ff,#fffff5,#eafaed,#effefb);
}

.container{
    width: 1440px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
    align-items: center;
}

.tittle-nav h1{
    font-size: 22px;
}

.menu ul{
    display: flex;
}

.menu li{
    margin-right: 50px;
    list-style: none;
}

.menu li a{
    text-decoration: none;
    color: #000000;
}

.active{
    text-decoration: none;
    color: #000000;
    border-bottom: 3px solid #000000;
}
