@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro:wght@600&display=swap');

*{
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right,#e7e7ff,#fffff5,#eafaed,#effefb);
}

.container{
    width: 1440px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
    align-items: center;
}

.tittle-nav h1{
    font-size: 22px;
}

.menu ul{
    display: flex;
}

.menu li{
    margin-right: 50px;
    list-style: none;
}

.menu li a{
    text-decoration: none;
    color: #000000;
}

.menu li a:hover{
    text-decoration: none;
    color: #000000;
    font-weight: 600;
}

.btn-sign{
    padding: 10px 25px;
    background-color: transparent;
    border: 1px solid #00000043;
    border-radius: 3px;
}

.btn-sign:hover{
    padding: 10px 25px;
    background-color: #ffffff;
    border: 1px solid #00000043;
    border-radius: 3px;
}


.hero-fill{
    margin: 135px auto;
    text-align: center;
}


.tittle-hero{
    justify-content: center;
}

.tittle-hero h1{
    width: 50%;
    font-size: 36px;  
    margin-left: auto; 
    margin-right: auto; 
}

.tittle-hero p{
    font-size: 16px;
    width: 38%;
    margin-left: auto; 
    margin-right: auto; 
}

.button-hero{
    margin-top: 40px;
}

.btn-primary{
    padding: 12px 17px;
    font-size: 16px;
    background-color: #001AFF;
    color: #ffffff;
    border-radius: 100px;
    border: none;
    font-weight: 500;
    box-shadow: 2px 2px 2px #e7e7ff;
}

.btn-secondary{
    padding: 12px 17px;
    font-size: 16px;
    background-color: transparent;
    color: #001AFF;
    border-radius: 100px;
    border: none;
    font-weight: 500;
}

.btn-secondary p {
    color: #001AFF;
    font-weight: 500;
    border-bottom: 2px solid #001aff6d;
}

.tittle-featured{
    font-size: 16;
    font-weight: 500;
    margin-bottom: 17px;
}

.card-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 120px;
}

.card{
    background-color: #ffffff;
    border-radius: 8px;
    width: 360px;
    padding: 25px;
    box-shadow: 0px 3px 3px #001aff31;
}

.card:hover{
    background-color: #001AFF;
    border-radius: 8px;
    width: 360px;
    padding: 25px;
    box-shadow: 0px 3px 3px #001aff31;
}

.card:hover .header-card h3{
    color:#ffffff;
}

.card:hover p{
    color:#ffffffc4;
}

.header-card{
    display: flex;
    margin-bottom: 20px;
    color
}

.img-card{
    margin-right: 14px;
}

.tittle-card h3{
    font-size: 18px;
    color: #000000;
}

.tittle-card p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.639);
}

.fill-card{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.639);
}

hr{
    color: #ffffff21;
    margin-top: 20px;
}

.bottom-card{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.card:hover .btn-tag{
    border-radius: 100px;
    padding: 5px 15px;
    color: #ffffff;
    font-weight: 500;
    border: none;
    background-color: #fffff533;
    font-size: 12px;
}

.btn-tag{
    border-radius: 100px;
    padding: 5px 15px;
    color: #000000;
    font-weight: 500;
    border: none;
    background-color: #36363613;
    font-size: 12px;
}

.bottom-card h3{
    font-size: 14px;
    color: #000000;
    font-weight: 500;
}

.card:hover .bottom-card h3{
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
}